config_version	1.2

snapshot_root	/var/cache/rsnapshot/

cmd_rm		/bin/rm
cmd_rsync	/usr/bin/rsync
cmd_logger	/usr/bin/logger
cmd_preexec	/etc/prebackup.sh
cmd_ssh		/usr/bin/ssh

interval	hourly	6
interval	daily	7
interval	weekly	4

verbose		2
loglevel	3
lockfile	/var/run/rsnapshot.pid

backup	/home/		<%= @hostname %>/
backup	/etc/		<%= @hostname %>/
backup	/var/www/	<%= @hostname %>/
backup	/opt/		<%= @hostname %>/

<% @hosts.each do |host| %>
backup	root@<%= host %>:/home/	<%= host %>
backup	root@<%= host %>:/etc/	<%= host %>
backup	root@<%= host %>:/var/www/	<%= host %>
backup	root@<%= host %>:/opt/	<%= host %>
<% end %>
