<?php
define('DB_NAME', '<%= @database %>');
define('DB_USER', 'root');
define('DB_PASSWORD','');
define('DB_HOST','localhost');
define('DB_CHARSET','utf8');
define('DB_COLLATE','');
define('AUTH_KEY',         'happygummybears');
define('SECURE_AUTH_KEY',  'happygummybears');
define('LOGGED_IN_KEY',    'happygummybears');
define('NONCE_KEY',        'happygummybears');
define('AUTH_SALT',        'happygummybears');
define('SECURE_AUTH_SALT', 'happygummybears');
define('LOGGED_IN_SALT',   'happygummybears');
define('NONCE_SALT',       'happygummybears');

$table_prefix = 'wp_';
define('WPLANG','NL_nl');
define('WP_DEBUG','true');

/* Non configurable */
if ( !defined('ABSPATH') ) 
	define('ABSPATH', dirname(__FILE__) . '/');
require_once(ABSPATH . 'wp-settings.php');
?>
