server {
<%- @domains.each do |d| -%>
  server_name <%= d %>;
  server_name www.<%= d %>;
<%- end -%>
  root     /var/www/<%= @name %>;
<%- if @allowip.count > 0 -%>
  location / {
<%- @allowip.each do |ip| -%>
    allow <%= ip %>;
<%- end -%>
    deny all;
  }
<%- end -%>
<%- if @blocked -%>
  location ~ ^/(wp-admin|wp-login\.php) {
   rewrite ^/(.*)$ http://emendo-it.nl/openstaande-factuur/ last;
  }
<%- end -%>
  include  defaults.phpsite;
<%- if @ssl -%>
  listen 443 ssl; # managed by Certbot
  ssl_certificate /etc/letsencrypt/live/<%= @name %>/fullchain.pem; # managed by Certbot
  ssl_certificate_key /etc/letsencrypt/live/<%= @name %>/privkey.pem; # managed by Certbot
  include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
<%- end -%> 

}
